#header {
  li {
    margin-right: 1.5rem;
  }

  .new-item {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0.4;
      width: 50%;
      transform: translateY(-7px);
    }

    100% {
      opacity: 1;
      width: 100%;
      transform: translateY(0px);
    }
  }
}
