.table-container {
  overflow: auto;
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-sort-header-content {
  display: block !important;
}

[dir='rtl'] th.mat-header-cell:first-of-type:not(:only-of-type),
[dir='rtl'] td.mat-cell:first-of-type:not(:only-of-type),
[dir='rtl'] td.mat-footer-cell:first-of-type:not(:only-of-type) {
  padding-left: 0;
  padding-right: 0 !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.mat-column-select,
[dir='rtl'] th.mat-header-cell:first-of-type:not(:only-of-type),
[dir='rtl'] td.mat-cell:first-of-type:not(:only-of-type),
[dir='rtl'] td.mat-footer-cell:first-of-type:not(:only-of-type) {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

[dir='rtl'] th.mat-header-cell:last-of-type:not(:only-of-type),
[dir='rtl'] td.mat-cell:last-of-type:not(:only-of-type),
[dir='rtl'] td.mat-footer-cell:last-of-type:not(:only-of-type) {
  padding: unset !important;
}
