.mat-datepicker-content {
  margin: 0 !important;
}
.mat-datepicker-content-touch {
  margin: 0 !important;
}

.mat-calendar-table-header th,
.mat-calendar-body-label,
.mat-calendar-body-cell,
.mat-calendar-body-cell-container {
  border: none !important;
}

.mat-calendar-body-label {
  font-weight: bold;
}
