@use "@angular/material" as mat;
@include mat.core();

$saapa-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #3f51b5,
  700: #24283e,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);
$my-primary: mat.define-palette($saapa-palette, 300);
$my-accent: mat.define-palette($saapa-palette, 700);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);
@include mat.all-component-themes($my-theme);

$primary: #3f51b5;
$accent: #24283e;
$warn: #d82a2a;

// custom colors
$body-background: rgb(131, 8, 8);
$white: #fff;
$darkgrey: #797878;
$grey: #ddd;
$lightGrey: #ced4da;
$black: #111;
$glass: rgba(255, 255, 255, 0.1);
$fontColor: rgb(68, 68, 68);
$success: #449d44;
$failed: #c62828;
$warning: #ffcc00;
$secondaryPrimary: #fbd1da;
$edit: #1b72dc;
$sidebar: #2e3f53;
$avatar-sidebar: transparent;
$head-sidebar: #ffffff;
$items-active: transparent;
$active-submenu: #00b1d2;
$itemsactive-child: #fdf500;
$itemsidebar: #2e3f53;
$search-sidebar: #ffffff;
$left-panel-back: #152125;
$primary-theme: #fedb27;
$secondary-theme: $primary;
$head-profile-menu: $white;
